body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../myimg/library.jpg');
}

.splash-content {
    text-align: center;
    color: #FFDEAD;
}

.logo {
    width: 150px;
    height: 150px;
    color: #FFDEAD;

}

.reset-container {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #FFDEAD;
}

.reset-container h2 {
    margin-bottom: 20px;
}

.reset-container input[type="text"],
.reset-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;
    color: #000;
    /* Text color on input fields */
}

.reset-container .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.reset-container .btn-container input[type="submit"] {
    width: 48%;
    background-color: #A0522D;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    /* Text color on buttons */
}

.reset-container .btn-container input[type="submit"]:hover {
    background-color: #FFDEAD;
    color: #000;
    /* Text color on buttons when hovering */
}

.reset-container a {
    color: #FFDEAD;
    text-decoration: none;
    font-size: 14px;
}

.reset-container a:hover {
    color: #666;
}

.registration-container {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #FFDEAD;
}

.registration-container h2 {
    margin-bottom: 20px;
}

.registration-container input[type="text"],
.registration-container input[type="password"],
.registration-container input[type="date"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration-container input[type="email"],
.registration-container input[type="tel"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;
}

#question {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;
}

.registration-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.registration-container .gender-container {
    text-align: left;
}

.registration-container .gender-container label {
    display: inline-block;
    margin-right: 10px;
}

.registration-container input[type="submit"] {
    width: 48%;
    background-color: #A0522D;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registration-container input[type="submit"]:hover {
    background-color: #A0522D;
}

#back {
    width: 48%;
    background-color: #A0522D;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#back a {
    color: white;
    text-decoration: none;
}

#answer,
#dob,
#username,
#password {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;
}

.login-container {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #FFDEAD;

}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;


}

.login-container .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.login-container .btn-container input[type="submit"] {
    width: 48%;
    background-color: #A0522D;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
}

.login-container .btn-container input[type="submit"]:hover {
    background-color: #FFDEAD;
    color: #000;
    /* Text color on buttons when hovering */
}

.login-container a {
    color: #FFDEAD;
    text-decoration: none;
    font-size: 14px;
}

.forget-container {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #FFDEAD;
}

.forget-container h2 {
    margin-bottom: 20px;
}

.forget-container input[type="text"],
.forget-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;
    color: #000;
    /* Text color on input fields */
}

.forget-container .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.forget-container .btn-container input[type="submit"] {
    width: 48%;
    background-color: #A0522D;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #FFF;
    /* Text color on buttons */
}

.forget-container .btn-container input[type="submit"]:hover {
    background-color: #FFDEAD;
    color: #000;
    /* Text color on buttons when hovering */
}

.forget-container a {
    color: #FFDEAD;
    text-decoration: none;
    font-size: 14px;
}

.forget-container a:hover {
    color: #666;
}
