body {
    padding: 0;
    margin: 0;
}
table button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.button-container {
    text-align: left;
}

.button-container button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

#down {
    color: blue;
    text-decoration: underline;
}

ul,.lgo {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
width:100%;
background-color: #A0522D;
font-family: "Times New Roman";
font-size: 15px;
}

li {
margin: 10px 30px 0 0;
float: right;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

img {
margin: 5px 0 0 30px;
width: 7%;
height: 55px;
border-radius: 100px;
}

.lgo{
display : flex;
}

h1{
margin-left: 40px;
color: white;
font-family: "Times New Roman";
font-size: 25px;

}
.div.info{
border: 5px solid;
margin: auto;
width: 50%;
padding: 10px;

}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-image: url('library.jpg');
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-content .info {
    max-width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 100px;
    font-size:25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: text;
    margin: 25px;    
    
}

.header-content p {
    margin-top:20px;
    margin-right:20px;
    font-size:30x;
    font-family: "Times New Roman";
}

.learn-more-button {
    background-color: #A0522D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:20px;
}