.book-content {
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url('../img/library.jpg');
    color: white;
}
.back-button {
    padding: 0.5rem 1rem;
    background-color: #A0522D;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    top: 40px;
    left: 15px;
}
.update-button,.add-button{
    padding: 0.5rem 1.5rem;
    background-color: #A0522D;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin-left:50%
}
.h1-update,.h1-add{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0;
}

.form-group {
    margin-bottom: 1rem;
    margin-left: 35%;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group #description,
.form-group input[type="number"],
.form-group input[type="date"] {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#language,#category{
    width: 52%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* book decription */
.book-container {
    max-width: 800px;
    margin: 30px auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:#A0522D;
}

.book-title {
    font-size: 24px;
    font-weight: bold;
    color:white;
    direction: rtl;
}

.book-author {
    font-size: 16px;
    font-style: italic;
    color: white;
    direction: rtl;
    font-weight: bold;
}

.book-description {
    font-size: 18px;
    margin-top: 10px;
    color: white;
    direction: rtl;
    font-weight: bold;
}

.book-cover {
    max-width: 200px;
    height: 250px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}