.add-category-content{
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('../img/library.jpg');
    color: white;
}
/* category.php */
#lib{
    width: 100%;
    min-height: 200vh;
    position: relative;
}
.category-content{
    font-family: Arial, sans-serif;
    min-height: 100%;
    /* background-image: url('../img/library.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 30px;
}
.category-grid{
    margin: 40px 0 0 60px;
}
.category-card{
    width: 25%;
}
.category-card h1{
    /* color: black; */
    /* font-size: 23px; */
    font-weight: 400;
    width: 150px;
    text-transform: capitalize;
    margin-top: -5px;
}
.category-card a{
    text-decoration: none;
    color: white;
}
.category-card img{
    margin: 25px 0;
    /* width: 200%; */
}
.category-selector select{
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 10px;
}
.container-card{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    
}