/* index.php */
.index-content {
    background-image: url("../img/library.jpg");
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.black-box {
    width: 80%;
    margin: auto;
    background-color: black;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.8;
    color: white;
    padding: 50px;

}

.black-box p {
    padding: 40px;
    font-family: Arial, sans-serif;
    text-align: justify;
    font-size: 25px;
    line-height: 40px;
}

.black-box a {
    width: fit-content;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #A0522D;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 500px;
}

/* login  */
.login-content {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-image: url('../img/library.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.login-box {
    width: 35%;
    height: 70%;
    background-color: black;
    opacity: 0.7;
}

.login-box-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box-content form {
    width: 50%;
}

.login-box-content h2 {
    font-size: 25px;
    padding-bottom: 20px;
}

.form-group-login {
    width: 100%;
    padding: 10px;
    font-size: 19px;
}

.form-group-login input {
    width: 100%;
    height: 25px;
}

.form-group-login a {
    margin-left: 40px;
}

.btn-container-login {
    margin: 15px 0 0 30px;
}

.btn-container-login input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    width: 48%;
    background-color: #A0522D;
    color: white;
    cursor: pointer;
}

/* about.php */

.about-us {
    text-align: center;
    background-image: url('../img/library.jpg');
    background-size: cover;
    padding: 100px 0;
    color: white;
}

.about-us h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-us .description {
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    background-color: rgba(0, 0, 0, 0.6);
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.team-member {
    background-color: #DEB887;
    padding: 30px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.thank-you {
    background-color: #A0522D;
    padding: 30px;
    color: white;
    text-align: center;
}

/* contact.php */
.contact-content {
    font-family: Arial, sans-serif;
    background-image: url('../img/library.jpg');
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 400px;
    padding: 20px;
    font-size: 20px;
    color: white;
}

.contact-header h2 {
    color: white;
}

.contact-form input[type="name"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;
}

.contact-form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;
}

.contact-form textarea[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;
}

.contact-form input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFDEAD;
}


.contact-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.contact-form [type="submit"] {
    width: 30%;
    background-color: #A0522D;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.contact-form [type="submit"]:hover {
    background-color: #A0522D;
}

/* forget.php */
.forget-content {
    font-family: Arial, sans-serif;
    background-image: url('../img/library.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forget-box {
    width: 35%;
    height: 70%;
    background-color: black;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forget-box form {
    width: 100%;
    color: white;
}

.forget-box form h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.form-group-forget {
    margin-left: 50px;
    padding: 15px;
}

.form-group-forget input[type="text"] {
    width: 80%;
    padding: 0.5rem;
}

.form-group-forget label {
    font-size: 18px;
}

.btn-container-forget {
    display: flex;
    justify-content: space-around;
}

.btn-container-forget input[type="submit"] {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #A0522D;
    color: white;
    cursor: pointer;
}

.btn-container-forget a {
    color: white;
    font-size: 18px;
}

/* regestration.php */
.registration-content {
    font-family: Arial, sans-serif;
    background-image: url('../img/library.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-box {
    width: 35%;
    min-height: 95%;
    background-color: black;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-box form {
    width: 100%;
    color: white;
}

/* i use class form-group-forget from forget page to do registration and reset style because it's same */

.form-group-forget input[type="email"],
.form-group-forget input[type="password"],
.form-group-forget input[type="tel"],
.form-group-forget input[type="date"],
 .form-group-forget #question {
    width: 80%;
    padding: 0.5rem;
}
.registration-box h2{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    color: white;
}
/* reset password  */
.reset-container{
    font-family: Arial, sans-serif;
    background-image: url('../img/library.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reset-box{
    width: 30%;
    margin: auto;
    background-color: black;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.7;
    color: white;
    padding: 50px;  
}
.reset-box h2{
    text-align: center;
}
